@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


/* Estilos para el modo claro */
:root {
  --background-color: #E0C9CB;
  --text-color: #000000;
  --background-color-container: #F5F5F5;
  --button-color: #cda9ac;
  --button-color-hover: #BA7E7E;
  --img-color: invert(0);
}

/* Estilos para el modo oscuro */
body.dark-mode {
  --background-color: #474444;
  --background-color-container: #393939;
  --text-color: #ffffff;
  --button-color: #949494;
  --button-color-hover: #292929;
  --img-color: invert(1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
    font-family: 'Lato', sans-serif, sans-serif;
/*  background:#E0C9CB; */
    text-transform: uppercase;
    padding: 0px;
}

h1 {
    font-size: 1.2em;
    margin-block-start: -5px;
  }

  .container {
    background-color: var(--background-color-container);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5); /* especifica la sombra con desplazamiento x=5px, y=5px, difuminado 15px y color negro */
    border: 1px solid #030303; /* agrega un borde sólido de 1px de ancho y color #030303 */
    padding: 35px;
    width: 75%; /* Ancho del contenedor */
    text-align: center;
    border-radius: 10px;
    margin: auto; /* Centra horizontalmente */
    position: absolute; /* Permite usar los valores top y left */
    top: 50%; /* Posiciona el contenedor en el 50% del eje vertical */
    left: 50%; /* Posiciona el contenedor en el 50% del eje horizontal */
    transform: translate(-50%, -50%); /* Centra verticalmente y horizontalmente el contenedor */
}



.resultado{
    max-height: 60px; /* Tamaño máximo antes de que aparezca la barra de desplazamiento */
    overflow: auto;
    padding: 25px;
    border: 1px solid #030303; /* agrega un borde sólido de 2px de ancho y color azul */
}



input {
    padding: 10px;
    margin: 10px;
    background: #ffffff;
    width: 35%;
    height: 25px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background: var(--button-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
   
}

button:hover {
  background: var(--button-color-hover);
    transition: all .6s ease-in-out;
}

.boton-copiar {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.boton-copiar:hover {
  background-color: #ddd;
}


label {
    padding-block-start: 50px;
    font-size: 1.2em;
    margin-block-start: -5px;
    text-transform: uppercase;
}

.banner {
  background-color: var(--background-color-container);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Asegura que el banner esté por encima de otros elementos */
}


.swich-laguage{
    display: flex;
    justify-content: left; 
}


.swich-dark-mode{
  display: flex;
  justify-content: right;
  
}

.switch-container{
    position: relative;
    border: 1px solid #030303;
    background: #000000;
    block-size: 30px;
    inline-size: 60px;
    color:white ;
    border-radius: 10px;
    filter: var(--img-color);
}
  
  .switch input { 
    opacity: 0;
    inline-size: 0;
    block-size: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    block-size: 20px;
    inline-size: 20px;
    inset-inline-start:4px;
    inset-inline-end: 4px;
    inset-block-end: 6px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #050505;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #000000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Estilo para el texto "Español" y "Inglés" */
  #languageLabel {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 5px;
  }

  .imgIcon{
    filter: var(--img-color);
  }

  #mensaje {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: var(--background-color-container);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    font-size: smaller;
    text-transform: none;
  }

  
  #languageSelect {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px; /* Ajusta el padding para que el select sea más alto */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 50%; /* Ajusta el ancho al 100% del contenedor padre */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho */
    appearance: none; /* Elimina el estilo nativo del select */
  }
  
  /* Estilo cuando se enfoca */
  #languageSelect:focus {
    outline: none; /* Elimina el contorno del foco */
    border-color: #007bff; /* Cambia el color del borde cuando se enfoca */
  }
  
  /* Estilo al pasar el mouse */
  #languageSelect:hover {
    background-color: #f2f2f2; /* Cambia el color de fondo al pasar el mouse */
  }

  .language-select-and-copy{
    padding: 20px;
    display:flex;
    justify-content: space-between; /* Esto distribuirá los elementos a lo largo del contenedor */
    align-items: center; 
  }
  
  footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-container);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100; /* Asegura que el footer esté por encima de otros elementos */
    text-transform: capitalize;
}

footer p {
    margin: 0; /* Elimina el margen predeterminado */
}

footer a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

footer a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el ratón sobre el enlace */
}
